/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
header,
main {
    background-color: #36BBF0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Logo */
.logo {
    width: 150px;
}

/* Card Trip */
.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-trip-container {
    margin-left: 100px;
    border: solid black 1px;
    width: 200px;
    height: 400px;
}

.card-trip-container img {
    width: 200px;
    height: 200px;
}